ion-slide {
<<<<<<< HEAD
    background-color: #f0f0f0;
=======
    
>>>>>>> 01719dc743fd3d8b4a31f253faf9ae11f681f318
}

ion-slide:nth-child(2n) {
    background-color: #fff;
}

.slider {
    height: 100%;
}

.slidingTabs {
    height: 48px;
<<<<<<< HEAD

=======
>>>>>>> 01719dc743fd3d8b4a31f253faf9ae11f681f318
    z-index: 10;
}

.slidingTabs .scroll {
    height: auto;
    min-width: 100%;
<<<<<<< HEAD

}

.slidingTabs ul {
    width:100%;
    background-color: #444444;
=======
}

.slidingTabs ul {
    background-color: #4B4E54;
>>>>>>> 01719dc743fd3d8b4a31f253faf9ae11f681f318
    height: 48px;
}

.slidingTabs ul li {
    height: 48px;
    line-height: 48px;
    text-align: center;
<<<<<<< HEAD
    width:250px;
    float: left;
    margin: 0;
    padding: 0 12px 20px 12px;
    font-size: 13px;
=======
    float: left;
    margin: 0;
    padding: 0 12px 20px 12px;
    font-size: 11px;
>>>>>>> 01719dc743fd3d8b4a31f253faf9ae11f681f318
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    position: relative;
    overflow: hidden;
}

.slidingTabs ul li.tab-active {
<<<<<<< HEAD
    color: #fff;
    font-weight:bold;
=======
    color: #FECB72;
>>>>>>> 01719dc743fd3d8b4a31f253faf9ae11f681f318
}

.slidingTabs ul li .ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    transform: scale(0);
	opacity: 0;
}

.slidingTabs ul li .ink.animate {
    -webkit-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}

.slidingTabs .tab-indicator-wrapper {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: translateY(-2px);
    position: absolute;
}

.slidingTabs .tab-indicator-wrapper .tab-indicator {
    height: 100%;
    background-color: #fff;
    width: 70px;
    position: relative;
<<<<<<< HEAD
   -webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.61);
box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.61);
}

@-webkit-keyframes ripple {
    100% {
        opacity: 1;
        transform: scale(2.5);
		-webkit-transform:scale(2.5);
    }
}
=======
}

>>>>>>> 01719dc743fd3d8b4a31f253faf9ae11f681f318
