

@font-face {
    font-family: mFont;
    src: url(ss.ttf);
}


.fontcheck{
font-family: mFont !important;
font-style: normal !important;
letter-spacing: 2px !important;
font-weight: normal !important;

}

.tablec{
   height:60px;
   width:25%;
   background-color:white;
   border-radius:5px;
   display:inline-block;
   font-size:25px;
   border:1px solid black;
   line-height:60px;
   text-align:center;
   
}
.tablec:active{
   height:60px;
   width:25%;
   background-color:#444444;
   color:white;
   border-radius:5px;
   display:inline-block;
   font-size:25px;
   border:1px solid white;
   line-height:60px;
   text-align:center;
   
}



.mizicon [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 30px;
font-style: normal;
}
/* items list */
.itemlistmaincontainer{
	width:100vw;  
	padding:10px; 
	padding-left:0px;
}

@keyframes mizan {
    from   {margin-left:-56vw;}
    to {margin-left: 0px;}
    
}
.myanim{
height:auto;
width:70vw;
background-color:#444444; 
padding-top:13px; 
padding-bottom:10px; 
border-radius:5px;
   /*    animation-name: mizan;
    animation-duration: 1s;
animation-timing-function:  cubic-bezier(0.0, 1.0, 0.0, 1.0);*/
}

.listbox {
height:13vw; 
width:69vw; 
display:inline-block;  
background-color:white;
/*background-image: url(../img/list.jpg);*/

}


.listboximg{
width:19vw; 
height:100%; 
border-right:6px solid #fff;
webkit-box-shadow: 1px 0px 0px 0px rgba(68,68,68,1);
-moz-box-shadow: 1px 0px 0px 0px rgba(68,68,68,1);
box-shadow: 1px 0px 0px 0px rgba(68,68,68,1);
background-size:cover; 
float:left; 
display:inline-block; 
background-repeat:no-repeat; 
background-position:center
}
.listboxcont{
float:left; 
width:50vw; 
height:100%; 
padding:10px
}
.vegc{
height:20px; 
width:20px; 
float:left; 
background-color:white; 
border:1px solid green;
}
.vegci{
height:10px; 
width:10px; 
border-radius:50%; 
background-color:green; 
margin:0 auto; 
margin-top:4px;
}
.nonvegc{
height:20px; 
width:20px; 
float:left;
background-color:white; 
border:1px solid red;
}
.nonvegci{
height:10px; 
width:10px; 
border-radius:50%; 
background-color:red; 
margin:0 auto; 
margin-top:4px; 
}

.itemnamec{
font-size:25px; 
font-weight:bold; 
width:auto;
float:left; 
text-align:center; 
display:inline-block
}



/* items list end*/

.video-container {
position: relative;
height:100vh;
width:100vw;

}
 @keyframes mymove {
    from{ margin-top:-200px;}
    to{ margin-top:0px;}
}
.video-container iframe,
.video-container object,
.video-container embed {
display:block;
margin:0 auto;
vertical-align:middle;
width: 80%;
height: 80%;
-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
animation: mymove 1s;
}






.ionic_ratings .icon {
  font-size:50px;
}

.ionic_ratings .read_only {
  pointer-events:none;
}

/*wrapper*/
.ball_wrap {
    position: relative;
    margin: 0 auto;
    margin-top:170px;
    width: 200px;
    height: 200px;

 transform: rotate(0deg);
 -webkit-animation: spin 1s linear;

}
@-webkit-keyframes spin {
    0%  {transform: rotate(0deg)}
 20%  {transform: rotate(15deg)}
 40%  {transform: rotate(0deg)}
60%  {transform: rotate(15deg)}
    100% {transform: rotate(0deg)}   
}


/*----------------------------------------------balls---------------------------------------------------------------*/
.green_ball {
    background: #444444;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px solid #ccc;
    position: absolute;
-webkit-box-shadow: -1px 3px 30px 2px rgba(0,0,0,1);
-moz-box-shadow: -1px 3px 30px 2px rgba(0,0,0,1);
box-shadow: inset -1px 3px 30px 2px rgba(0,0,0,1);
   // animation-name: example;
    //animation-duration: 4s;
}
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}

}

.blue_ball {
    background: #444444;
    height: 200px;
    width: 200px;
    margin:0 auto;
 z-index: 13; position:relative;
    border-radius: 50%;
    
    border: 10px solid #ccc;
box-shadow: inset -1px 3px 30px 2px rgba(0,0,0,1);

}
/*-------------------------------------------balls--------------------------------------------*/



/*------------------ball 1-------------------------------------------------------------------------------------*/
@keyframes animation1 {
    from   {top:50px; left:-120px}
    to{ top: 10px;    left: -185px;}
}
.ball_wrap div:nth-of-type(2) {
    top: 10px;/*50*/ 
    left: -185px;/*-200px*/
    animation-name: animation1;
    animation-duration: 1s;
animation-timing-function:  cubic-bezier(0.1, 0.1, 1.0, 0.1);

    
}

.ball_wrap div:nth-of-type(2):after {
    content: "";
    display: block;
    border-bottom: 10px solid #ccc;


    position: absolute;
    width: 50px;
    right: -55px;
    top: 50%;
}
/*------------------ball 1-------------------------------------------------------------------------------------*/



/*------------------ball 2-------------------------------------------------------------------------------------*/
@keyframes animation2 {
    from   {top:-50px; right:-80px}
    to{ top: -50px;    right: -165px;}
}

.ball_wrap div:nth-of-type(3) {
    top: -50px; /*-50px*/
    right: -165px;/*-180px*/
   
    animation-name: animation2;
    animation-duration: 1s;
animation-timing-function:  cubic-bezier(0.8, 0.7, 1.0, 0.1);
}

.ball_wrap div:nth-of-type(3):after {
    content: "";
    display: block;
    border-bottom: 10px solid #ccc;
    position: absolute;
    width: 50px;
    left: -50px;
    top: 90px;
   transform: rotate(160deg);
}
/*------------------ball 2-------------------------------------------------------------------------------------*/


/*------------------ball 3-------------------------------------------------------------------------------------*/

@keyframes animation3 {
    from   {right:120; bottom:-110px}
    to{ right: 120px;    bottom: -145px;}
}
.ball_wrap div:nth-of-type(4) {
    right: 120px;/*120px*/
    bottom: -145px;/*-200px*/
    animation-name: animation3;
    animation-duration: 1s;
animation-timing-function:  cubic-bezier(0.8, 0.7, 1.0, 0.1);
}

.ball_wrap div:nth-of-type(4):after {
    content: "";
    display: block;
    border-left: 10px solid #ccc;
    position: absolute;
    height: 30px;
    left: 90px;
    top: -30px;
    //-webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}
/*------------------ball 3-------------------------------------------------------------------------------------*/





/*------------------ball 4-------------------------------------------------------------------------------------*/
@keyframes animation4 {
    from   {right:-100px; bottom:-50px}
    to{ right: -120px;    bottom: -110px;}
}
.ball_wrap div:nth-of-type(5) {
    right: -120px;/*-150px*/
    bottom:-110px;/*-110px*/


    animation-name: animation4;
    animation-duration: 1s;
animation-timing-function:  cubic-bezier(0.8, 0.7, 1.0, 0.1);
}

.ball_wrap div:nth-of-type(5):after {
    content: "";
    display: block;
    border-left: 10px solid #ccc;

    position: absolute;
    height: 50px;
    left: 0px;
    top: -30px;
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
}
/*------------------ball 4-------------------------------------------------------------------------------------*/




/*------------------ball 5-------------------------------------------------------------------------------------*/
@keyframes animation5 {
    from   {right:80px; bottom:180px}
    to{ right: 80px;    bottom: 210px;}
}
.ball_wrap div:nth-of-type(6) {
    right:80px; /*110px*/
    bottom: 210px;/*310px*/
   animation-name: animation5;
   animation-duration: 1s;
animation-timing-function:  cubic-bezier(0.8, 0.7, 1.0, 0.1);
}

.ball_wrap div:nth-of-type(6):after {
    content: "";
    display: block;
    border-left: 10px solid #ccc;
    position: relative;
    height: 30px;
    left: 90px;
    top: -30px;
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
}
/*------------------ball 5-------------------------------------------------------------------------------------*/

	.slider-slide-tab span:last-child {
		border-radius: 10px;
		background: #000;
  		
		padding: 3px 8px;
		color: white;
		position: relative;
		bottom: 8px;
		left: 5px;
		font-weight: bold;
		box-shadow: 0 0 1px #333;
	}
	.tab-indicator{
 		background-color:blue;
        }
         .slider-slide-tab{
           background-color:#444444;
        }
	.scrollmenu.scroll-view.scroll-x {
		overflow-x: hidden;
		/* default value is 'scroll' */
	}


/*shviam bhai */






#drag_me{


  line-height:50px; 
  font-size:25px;
   margin-top:10px;
    margin-left:13px; 
    vertical-align:middle;



    position: fixed;
    height: 60px;
    width: 60px;
   padding:10px;
   border:5px solid #f2e6d7;
   background-color: #444444;
-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    line-height: 35px;    
       animation-name: chatt;
    animation-duration: 1s;
	animation-iteration-count:infinite;
animation-timing-function:  cubic-bezier(0.0, 1.0, 0.0, 1.0);
   
}
@keyframes chatt {
    0%   {transform: scale(1.1);}
    25% {transform: scale(1.0);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1.0);}
    50% {transform: scale(1.1);}
    
}


.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
  .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}

.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
  &.slide-right {
    -webkit-transform: translate3d(130px, 0, 0) !important;
    -moz-transform: translate3d(130px, 0, 0) !important;
    transform: translate3d(130px, 0, 0) !important;
  }
}


//This will change
.messages.other {
  .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
  }
  .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0) !important;
    -moz-transform: translate3d(120px, 0, 0) !important;
    transform: translate3d(120px, 0, 0) !important;
  }
  span {
    color: black !important;
    background-color: #C7C7CC !important;
  }
}

span1 {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}

span2 {
  background: #444444 !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: right !important;
  max-width: 240px !important;
}
