<ion-view cache-view="false" view-title="{{'infotainmentcategary' | translate}}"
 class="loginScreen">



        <ion-content id=items_list_page has-header="true" ng-init="fetchInfotainment()" 
        scroll="true">
          


        <ion-slide-box slide-tabs-scrollable="false" does-continue="false" show-pager="false" ion-slide-tabs on-slide-changed="listInfotainment($index+1)">
        
        <ion-slide disable-scroll="false" ng-repeat="parent in infocatname"
         ion-slide-tab-label="{{parent.category_name}}">
        
        <div class="list listLink filter" style="width: 100vw; height: 100vh;"> 
          <!--andar waala content yahaa h-->


        <a class="item item-button-right item-text-wrap item-thumbnail-left" ng-repeat="file in infodata | Infotainmentfilter:slider.slidermodel track by $index">
      {{slider.slidermodel}}
    
        <img ng-if="file.file_ext == 'image'" ng-src="{{file.img_url}}" ng-click="">{{file.description}}
        </img>
              
        <!--
        <div ng-if="file.file_ext=='image'||file.file_ext=='video'" ng-click="openSelectedItem(menuSubItem)">
        
        </div>
       -->

        
      </a>




        </div>
        </ion-slide>


      </ion-slide-box>
      </ion-content>




</ion-view>
