<ion-view id="selected_item_page">
	<ion-nav-buttons side="left">
		<button ng-click="goBack()" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back"></i></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right" >
		<button id="cart_list_icon1" ng-click="viewCart()" class="button-icon button button-clear flaticon-shop"><i class="badge badge-light header-badge"><span ng-if="cartCount!=0">{{cartCount}}</span></i></button>
	</ion-nav-buttons>
	<ion-nav-title> {{selected_item.item_name}} </ion-nav-title>		
		<ion-content ng-init="getreview()" scroll="true"><!--ng-init="getreview()"-->
		<img ng-src="{{selected_item.imageUrl}}"  class="full-image" alt="" style="height:95vh; width:80vw">
		
		<div class="list profileDetails" style="height:100vh; width:20vw; float:right">
				<div class="item item-icon-left item-button-right">
					<i class="icon"><span>{{siteSettings.currency_symbol}}</span></i> {{'cost' | translate}} {{selected_item.item_cost}}					
				</div>
				<div class="item item-icon-left"> <i class="icon mdi mdi-map"></i> <strong>{{'description' | translate}}</strong> </div>
				<div class="item item-text-wrap address">
					<p>
						{{selected_item.item_description}}
					</p>
				</div>
				<button class="button-block button button-dark" ng-disabled="disableButtons" ng-style="disableTagButton" ng-click="	addToCart(selected_item)">{{'addToCart' | translate}}</button>
				<!--  style=" height: 500px"-->
				<ion-scroll class="list" direction="y"  style="height: 60%; color: black; font-style: normal; ">
				
				
				<div class="item profileDetails" ng-repeat="ratings in review | orderBy: ratings[0].review_date : true" style="">
				{{ratings[0].user_name}} 
				<rating readonly="true" ng-model='ratings[0].rating' max='5'></rating>

				
				</div>

				</ion-scroll>
				</div>

				</div>
			
	</ion-content>
</ion-view>