
<ion-view cache-view="false" view-title="{{'infotainmentcategary'| translate}}" class="loginScreen">
 <ion-content>
  <ion-list>
  <ion-item style="margin-top:100px">
<img ng-if="result.file_ext == 'image'" style="width:80px;height:80px;" ng-src="{{url}}/{{result.file_name}}">
      <video ng-if="result.file_ext == 'video'" style="width:120px;height:80px;" ng-src="{{url}}/{{result.file_name}}" class="centerme" controls="controls"></video>
   </ion-item>
   <ion-item >
   <p>Media Name</p>{{result.media_name}}{{file_name}}
   </ion-item><br>
   <ion-item >
   <p>Media Description</p>{{result.description}}
   </ion-item>
     
</ion-list>
  </ion-content>
</ion-view>